body {
  font-family: Pressstart2p, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Inconsolata, monospace;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
}

a {
  color: #141414;
  text-decoration: none;
}

.body {
  background-color: #ececec;
  font-family: Pressstart2p, sans-serif;
  font-weight: 400;
}

.desktop-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  font-family: Pressstart2p, sans-serif;
  font-size: 0.5rem;
  line-height: 1;
  font-weight: 400;
}

.desktop-icons-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 90vh;
  padding-top: 2.8rem;
  padding-left: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.desktop-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.desktop-icon-wrapper.is-portfolio-icon {
  color: #141414;
  text-decoration: none;
}

.icons-heading {
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: Pressstart2p, sans-serif;
  font-size: 0.5rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.navigation-bar {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #ececec;
}

.desktop-icons {
  width: 3rem;
}

.menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 8rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: -3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  font-weight: 400;
}

.menu-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pressstart2p, sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
}

.nav-bar-divider {
  display: block;
  width: 0.3rem;
  min-height: 2rem;
  background-color: #ececec;
  box-shadow: inset -3px -3px 0 0 #fff, 2px 2px 0 0 #a7a7a7;
}

.popup {
  position: absolute;
  left: 20%;
  top: 10%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40rem;
  height: auto;
  max-height: none;
  padding: 0.1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border: 1px solid #000;
  background-color: #d6d6d1;
}

.popup.is-services {
  left: 14%;
  top: 7%;
  z-index: 20;
  display: none;
}

.popup.is-contact {
  left: 45%;
  top: 25%;
  z-index: 25;
  display: none;
  width: 500px;
  min-height: auto;
  min-width: auto;
}

.popup.is-portfolio {
  left: 34%;
  top: 10%;
  display: none;
  background-color: #d6d6d1;
}

.popup.credit {
  z-index: 150;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25rem;
}

.popup.is-vx-work1 {
  left: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15rem;
  height: 15rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #d6d6d1;
}

.popup.is-vx-work2 {
  left: 45%;
  top: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15rem;
  height: 15rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.popup.is-vx-work3 {
  left: 25%;
  top: 45%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15rem;
  height: 15rem;
}

.popup.is-work-ethics {
  top: 2%;
  display: none;
  width: 35rem;
}

.popup-top-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 0rem 0.1rem;
  padding: 0.1rem 0.4rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#8b008b), to(#290c5e));
  background-image: linear-gradient(90deg, #8b008b, #290c5e);
  cursor: -webkit-grab;
  cursor: grab;
}

.popup-title {
  margin-left: 0rem;
  color: #fff;
  font-size: 0.7rem;
  line-height: 1.3rem;
}

.popup-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.popup-button-wrap {
  position: absolute;
  left: auto;
  top: auto;
  right: 1%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup-button {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  background-color: #ececec;
  box-shadow: -2px -2px 0 0 #fff, 2px 2px 0 0 #a7a7a7;
}

.popup-button.close {
  width: 1rem;
  height: 1rem;
}

.icon {
  margin-right: 0.6rem;
}

.contact-wrapper {
  padding: 0.2rem 1.7rem;
  background-color: #d6d6d1;
}

.start-menu-wrap {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 98%;
  display: none;
  width: auto;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  background-color: #ececec;
  box-shadow: inset 3px 2px 0 0 #fff, 2px 2px 0 0 #a7a7a7;
}

.menu-link-title {
  font-size: 0.7rem;
  line-height: 2rem;
}

.start-menu-item-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.start-menu-item-wrap:hover {
  background-color: hsla(0, 0%, 65.3%, 0.74);
}

.start-icon {
  width: 2rem;
  margin-right: 0.5rem;
}

.divider {
  width: auto;
  height: 0.25px;
  background-color: #a7a7a7;
}

.start-strip {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.8rem;
  height: auto;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  padding-left: 4px;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #a7a7a7;
}

.text-block {
  position: relative;
  left: -40px;
  top: -100px;
  width: auto;
  min-width: 100px;
  -webkit-transform: translate(0px, -10px) rotate(-90deg);
  -ms-transform: translate(0px, -10px) rotate(-90deg);
  transform: translate(0px, -10px) rotate(-90deg);
}

.clock-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-right: 3rem;
  padding-right: 0rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.clock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-height: 2rem;
  min-width: 12rem;
  margin-left: 0.5rem;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.7rem;
  line-height: 1;
}

.menu-side-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.pre-looader {
  position: absolute;
  z-index: 200;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #141414;
}

.top-black {
  position: absolute;
  left: 0%;
  top: -73%;
  right: 0%;
  bottom: 0%;
  z-index: 300;
  height: 60vh;
  background-color: #141414;
}

.shut-down {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-black {
  position: absolute;
  left: 0%;
  top: 101%;
  right: 0%;
  bottom: 0%;
  z-index: 300;
  height: 50vh;
  background-color: #141414;
}

.clock-icon {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.side-black-left {
  position: absolute;
  left: -50%;
  top: auto;
  right: 0px;
  bottom: auto;
  z-index: 300;
  width: 70vh;
  height: 20vh;
  background-color: #000;
}

.side-black-right {
  position: absolute;
  right: -49%;
  z-index: 300;
  width: 70vh;
  height: 20vh;
  background-color: #141414;
}

.looping-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 80vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.infinity-text {
  width: auto;
  min-width: 60vw;
  font-size: 0.7rem;
  text-align: center;
}

.credit-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 10rem;
  margin-right: 0rem;
  padding-right: 0rem;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block-socialicons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: none;
  margin-right: 0rem;
  padding-right: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  opacity: 1;
}

.link-block-socialicons:hover {
  opacity: 1;
}

.clock-icon-2 {
  max-width: 70%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.lowleftwrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  width: auto;
  max-height: 100vh;
  max-width: 100vw;
  padding-bottom: 30px;
  padding-left: 30px;
}

.image {
  max-width: 20%;
  margin-bottom: 2rem;
  border-radius: 0px;
  opacity: 1;
}

.text-block-landing {
  color: #00ff41;
  font-size: 0.5rem;
  line-height: 1.5;
}

.services-wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2.6rem;
  padding-bottom: 1rem;
  padding-left: 2.6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px solid #000;
  background-color: #d6d6d1;
}

.heading {
  margin-top: 10px;
  font-family: Pressstart2p, sans-serif;
  color: #005249;
  font-size: 0.7rem;
  line-height: 1.2;
  font-weight: 400;
}

.paragraph {
  margin-bottom: 0px;
  font-family: Pressstart2p, sans-serif;
  color: #8b008b;
  font-size: 0.5rem;
  line-height: 1.3;
}

.contactrowwrapper {
  min-height: 30px;
  min-width: 450px;
  margin-bottom: 5px;
  background-color: #fff;
}

.contactrowwrapper-message {
  min-height: 200px;
  min-width: 450px;
  margin-bottom: 5px;
  background-color: #fff;
}

.portfolioinnerwrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 350px;
  padding-top: 1rem;
  padding-left: 1rem;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.portfolioleftwrapp {
  width: 30%;
  min-width: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.portfoliorightwrapp {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.portfoliotext {
  margin-bottom: 10px;
  color: #005249;
  line-height: 1.3;
}

.portfoliotext.whatsdone {
  color: #8b008b;
}

.vxworkcontent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0.2rem;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.div-block {
  height: 100%;
}

.headingvxwork {
  margin-top: 0px;
  font-size: 0.7rem;
}

.vxpopupwrapper {
  position: relative;
  display: none;
  width: 100vw;
  height: 100vh;
}

.image-2 {
  max-width: 30%;
}

.logowrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.workethicswrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40rem;
  padding-right: 2.6rem;
  padding-bottom: 1rem;
  padding-left: 2.6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px solid #000;
  background-color: #ececec;
}

.paragraphwethics {
  margin-bottom: 10px;
  font-family: Pressstart2p, sans-serif;
  color: #005249;
  font-size: 0.5rem;
  line-height: 1.3;
}

.paragraphwethics.underline {
  text-decoration: underline;
}

.paragraphwethics.signname {
  margin-bottom: 0px;
  font-size: 0.7rem;
}

.bold-text {
  color: #005249;
}

.bold-text-2 {
  color: #005249;
}

.bold-text-3 {
  color: #005249;
}

.bold-text-4 {
  color: #005249;
}

@media screen and (max-width: 991px) {
  .popup.is-contact {
    left: 20%;
  }

  .popup.is-portfolio {
    left: 10%;
  }

  .start-menu-wrap {
    display: none;
  }

  .start-menu-item-wrap.is-shutdown {
    display: none;
  }

  .clock-wrapper {
    display: none;
  }

  .top-black {
    display: none;
  }

  .shut-down {
    display: none;
  }

  .bottom-black {
    display: none;
  }

  .side-black-left {
    display: none;
  }

  .side-black-right {
    display: none;
  }

  .lowleftwrapper {
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .text-block-landing {
    font-size: 0.5rem;
  }

  .vxpopupwrapper {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .desktop-icons-wrapper {
    width: 50%;
  }

  .desktop-icon-wrapper.is-portfolio-icon {
    width: auto;
  }

  .desktop-icons {
    width: 3rem;
    max-width: none;
  }

  .popup.is-services {
    display: none;
    width: auto;
  }

  .popup.is-contact {
    left: 6%;
    top: 31%;
    right: auto;
    bottom: auto;
    display: none;
  }

  .popup.is-portfolio {
    left: auto;
    width: auto;
  }

  .popup.credit {
    display: none;
  }

  .start-menu-wrap {
    display: none;
  }

  .vxpopupwrapper {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .desktop-wrapper {
    z-index: auto;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
  }

  .desktop-icons-wrapper {
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 0rem;
    padding-left: 0.6rem;
  }

  .desktop-icon-wrapper.is-portfolio-icon {
    position: static;
  }

  .navigation-bar {
    z-index: 10;
    overflow: visible;
  }

  .nav-bar-divider {
    display: none;
  }

  .popup.is-services {
    left: 1%;
    top: 1%;
    z-index: 180;
    display: none;
  }

  .popup.is-contact {
    left: auto;
    top: 25%;
    z-index: 120;
    display: none;
    width: 360px;
  }

  .popup.is-portfolio {
    left: auto;
    top: 6%;
    right: auto;
    bottom: auto;
    z-index: 160;
    display: none;
    width: auto;
  }

  .popup.credit {
    left: 0%;
    display: none;
    width: auto;
  }

  .popup.is-vx-work1 {
    top: 5%;
  }

  .popup.is-vx-work2 {
    left: 20%;
    top: 35%;
  }

  .popup.is-vx-work3 {
    left: 20%;
    top: 65%;
  }

  .popup.is-work-ethics {
    left: auto;
    top: 5%;
    z-index: 195;
    display: none;
    width: auto;
  }

  .contact-wrapper {
    padding-right: 0.1rem;
    padding-left: 0.1rem;
  }

  .start-menu-wrap {
    position: absolute;
    bottom: 101%;
    z-index: 100;
    display: none;
  }

  .clock {
    display: none;
  }

  .looping-text-wrapper {
    display: none;
  }

  .social-wrapper {
    display: none;
  }

  .lowleftwrapper {
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .contactrowwrapper {
    min-width: 260px;
  }

  .contactrowwrapper-message {
    min-width: 260px;
  }

  .portfolioinnerwrapp {
    min-height: 450px;
    padding-left: 0.4rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .portfolioleftwrapp {
    margin-right: 10px;
  }

  .portfoliotext {
    margin-bottom: 20px;
    line-height: 1.4;
  }

  .vxpopupwrapper {
    z-index: 170;
    display: none;
  }

  .workethicswrapper {
    padding-left: 1rem;
  }
}

@font-face {
  font-family: 'Handjet[egrd,eshp,wght]';
  src: url('../images/') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pressstart2p';
  src: url('../fonts/PressStart2P.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}