.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Pressstart2p, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Inconsolata, monospace;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
}

a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #141414;
  text-decoration: none;
}

.body {
  background-color: #ececec;
  font-family: VT323, sans-serif;
  font-weight: 400;
}

.desktop-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  font-family: VT323, sans-serif;
  font-weight: 400;
}

.desktop-icons-wrapper {
  position: relative;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 90vh;
  max-width: none;
  padding-top: 2.8rem;
  padding-left: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.desktop-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5%;
  padding: 0.3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.desktop-icon-wrapper.is-portfolio-icon {
  position: relative;
  width: 10%;
  color: #141414;
  text-decoration: none;
}

.desktop-icon-wrapper.is-services-icon {
  width: 10%;
}

.icons-heading {
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: Pressstart2p, sans-serif;
  font-size: 0.5rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.navigation-bar {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ececec;
}

.desktop-icons {
  width: 3rem;
}

.menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 8rem;
  margin: 0rem 0rem 0rem 1rem;
  padding: 0rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: -3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  font-weight: 400;
}

.menu-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Pressstart2p, sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
}

.nav-bar-divider {
  display: block;
  width: 0.3rem;
  min-height: 2rem;
  margin-right: 1rem;
  background-color: #ececec;
  box-shadow: inset -3px -3px 0 0 #fff, 2px 2px 0 0 #a7a7a7;
}

.popup {
  position: absolute;
  left: 20%;
  top: 10%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40rem;
  height: auto;
  max-height: none;
  padding: 0.4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: #ececec;
}

.popup.is-services {
  left: 15%;
  top: 2%;
  z-index: 20;
  display: none;
  width: 50%;
  padding: 0.1rem;
  border: 1px solid #000;
}

.popup.is-contact {
  left: 62%;
  top: 31%;
  z-index: 25;
  display: none;
  width: auto;
}

.popup.is-portfolio {
  left: 34%;
  top: 10%;
  z-index: 20;
  display: none;
}

.popup.credit {
  z-index: 150;
  display: none;
  width: 25rem;
}

.popup-top-bar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 0rem 0.1rem;
  padding: 0.1rem 0.4rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #7600c7;
  background-image: linear-gradient(267deg, #290c5e 36%, #fff);
  cursor: -webkit-grab;
  cursor: grab;
}

.popup-title {
  margin-left: 0.3rem;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.popup-icon {
  width: 1rem;
  height: 1rem;
}

.popup-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.popup-button-wrap {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup-button {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  background-color: #ececec;
  box-shadow: -2px -2px 0 0 #fff, 2px 2px 0 0 #a7a7a7;
}

.popup-button.close {
  width: 1rem;
  height: 1rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  box-shadow: -1px -1px 0 0 #fff, 1px 1px 0 0 #a7a7a7;
}

.popup-button.expand {
  width: 1rem;
  height: 1rem;
  border: 1px solid #000;
  box-shadow: -1px -1px 0 0 #fff, 1px 1px 0 0 #a7a7a7;
}

.icon {
  position: relative;
  top: -4px;
  margin-right: 0.6rem;
}

.services-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2.6rem;
  padding-bottom: 1rem;
  padding-left: 2.6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px solid #000;
  background-color: #d6d6d1;
}

.services-image {
  height: 300px;
  padding-top: 0.3rem;
  padding-bottom: 1rem;
}

.contact-wrapper {
  padding: 0.9rem 1.7rem;
  background-color: #fff;
}

.contact-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-icon {
  width: 1rem;
  margin-right: 0.3rem;
}

.start-menu-wrap {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 98%;
  display: none;
  width: auto;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  background-color: #ececec;
  box-shadow: inset 3px 2px 0 0 #fff, 2px 2px 0 0 #a7a7a7;
}

.menu-link-title {
  font-family: Pressstart2p, sans-serif;
  font-size: 0.7rem;
  line-height: 2rem;
}

.start-menu-item-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.7rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.start-menu-item-wrap:hover {
  background-color: hsla(0, 0%, 65.3%, 0.74);
}

.start-icon {
  width: 2rem;
  margin-right: 0.5rem;
}

.divider {
  width: auto;
  height: 0.25px;
  background-color: #a7a7a7;
}

.start-strip {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1.8rem;
  height: auto;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  padding-left: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #a7a7a7;
}

.text-block {
  position: absolute;
  left: auto;
  top: 148px;
  width: 200px;
  -webkit-transform: translate(0px, -10px) rotate(-90deg);
  -ms-transform: translate(0px, -10px) rotate(-90deg);
  transform: translate(0px, -10px) rotate(-90deg);
  font-family: Pressstart2p, sans-serif;
  font-size: 0.5rem;
}

.clock-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 18rem;
  margin-right: 0rem;
  padding-right: 0rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.clock {
  width: auto;
  min-height: 2rem;
  min-width: 12rem;
  margin-left: 0.5rem;
  padding-right: 0px;
  font-family: Pressstart2p, sans-serif;
  font-size: 0.7rem;
  line-height: 2rem;
}

.menu-side-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.logo-wrap {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: none;
}

.logo-center {
  position: absolute;
  display: block;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.logo-center.text {
  top: 21%;
  display: none;
  height: 15rem;
}

.pre-looader {
  position: absolute;
  z-index: 200;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  color: #000;
}

.loading-block-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 19.2rem;
  height: 2rem;
  padding: 0.2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-color: #ececec;
}

.loading-block {
  width: auto;
  height: auto;
  min-width: 1.1rem;
  margin-right: 0.125rem;
  margin-left: 0.125rem;
  background-color: #600079;
}

.loading-text {
  margin-bottom: 1rem;
  color: #ececec;
  font-size: 1.5rem;
}

.loading-cover {
  position: absolute;
  width: 20rem;
  height: 2rem;
  background-color: #141414;
}

.top-black {
  position: absolute;
  left: 0%;
  top: -73%;
  right: 0%;
  bottom: 0%;
  z-index: 300;
  height: 60vh;
  background-color: #141414;
}

.shut-down {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-black {
  position: absolute;
  left: 0%;
  top: 101%;
  right: 0%;
  bottom: 0%;
  z-index: 300;
  height: 50vh;
  background-color: #141414;
}

.right-black {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 162%;
  bottom: 0%;
  z-index: 300;
  width: 50vw;
  background-color: #141414;
}

.left-black {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 50vw;
  background-color: #141414;
}

.clock-icon {
  max-width: 70%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.side-black-left {
  position: absolute;
  left: -50%;
  top: auto;
  right: 0px;
  bottom: auto;
  z-index: 300;
  width: 70vh;
  height: 20vh;
  background-color: #000;
}

.side-black-left.left {
  left: auto;
  top: auto;
  right: -49%;
  bottom: 0%;
}

.side-black-left.right {
  left: auto;
  top: auto;
  right: -56%;
  bottom: auto;
}

.side-black-right {
  position: absolute;
  right: -49%;
  z-index: 300;
  width: 70vh;
  height: 20vh;
  background-color: #141414;
}

.looping-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: normal;
}

.infinity-text {
  width: auto;
  min-width: auto;
  font-size: 1.5rem;
  text-align: center;
}

.credit-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
}

.credit-text {
  padding-left: 1rem;
  font-size: 1rem;
}

.icon-cat {
  width: 2rem;
  height: auto;
}

.image {
  max-width: 20%;
  margin-bottom: 2rem;
  border-radius: 0px;
  opacity: 1;
}

.upperleft {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.logo-center-pfp {
  position: absolute;
  display: none;
  width: 10rem;
  height: auto;
  border-radius: 80px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.logo-center-pfp.text {
  top: 21%;
  display: block;
  height: 15rem;
}

.lowleftwrapper {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  width: auto;
  max-height: 100vh;
  max-width: 100vw;
  padding-bottom: 30px;
  padding-left: 30px;
}

.text-block-landing {
  font-family: Pressstart2p, sans-serif;
  color: #00ff41;
  font-size: 0.5rem;
  line-height: 1.5;
}

.socialiconswrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block-socialicons {
  width: auto;
  max-width: none;
  margin-right: 0rem;
  padding-right: 0px;
  opacity: 1;
}

.link-block-socialicons:hover {
  opacity: 1;
}

.socialicon {
  margin-right: 0rem;
  opacity: 0.8;
}

.timetext {
  font-family: Pressstart2p, sans-serif;
  font-size: 0.6rem;
  line-height: 1.5;
}

.link {
  font-family: Pressstart2p, sans-serif;
  font-size: 0.6rem;
  line-height: 1.5;
}

.link-block-socialiconstt {
  width: 35px;
  max-width: none;
  margin-right: 1rem;
  padding-right: 0px;
  opacity: 1;
}

.link-block-socialiconstt:hover {
  opacity: 1;
}

.socialicondiscord {
  margin-right: 0rem;
  opacity: 0.9;
}

.social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 10rem;
  margin-right: 0rem;
  padding-right: 0rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin-top: 10px;
  font-family: Pressstart2p, sans-serif;
  color: #005249;
  font-size: 0.7rem;
  line-height: 1.2;
  font-weight: 400;
}

.bold-text {
  font-family: Pressstart2p, sans-serif;
  font-size: 0.5rem;
  line-height: 1.3;
}

.paragraph {
  margin-bottom: 0px;
  font-family: Pressstart2p, sans-serif;
  color: #005249;
  font-size: 0.5rem;
  line-height: 1.3;
}

.bold-text-2 {
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  .start-menu-wrap {
    display: none;
  }

  .start-menu-item-wrap.is-shutdown {
    display: none;
  }

  .logo-center.text {
    display: none;
  }

  .top-black {
    display: none;
  }

  .shut-down {
    display: none;
  }

  .bottom-black {
    display: none;
  }

  .side-black-left {
    display: none;
  }

  .side-black-right {
    display: none;
  }

  .logo-center-pfp {
    display: none;
  }

  .logo-center-pfp.text {
    display: none;
  }

  .lowleftwrapper {
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .text-block-landing {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .desktop-wrapper {
    background-color: #fff;
  }

  .desktop-icons-wrapper {
    width: 100%;
  }

  .desktop-icon-wrapper.is-portfolio-icon {
    width: auto;
  }

  .desktop-icons {
    width: 3rem;
    max-width: none;
  }

  .popup.is-services {
    display: none;
    width: auto;
  }

  .popup.is-contact {
    left: 6%;
    top: 31%;
    right: auto;
    bottom: auto;
    display: none;
  }

  .popup.credit {
    display: none;
  }

  .start-menu-wrap {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .desktop-wrapper {
    z-index: auto;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
  }

  .desktop-icons-wrapper {
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0rem;
    padding-left: 0.6rem;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .desktop-icon-wrapper.is-portfolio-icon {
    position: static;
  }

  .navigation-bar {
    z-index: 10;
    overflow: visible;
  }

  .nav-bar-divider {
    display: none;
  }

  .popup.is-services {
    z-index: 180;
    display: none;
  }

  .popup.is-contact {
    z-index: 120;
  }

  .popup.is-portfolio {
    left: 0%;
    top: 6%;
    right: auto;
    bottom: auto;
    z-index: 160;
    display: none;
    width: auto;
  }

  .popup.credit {
    left: 0%;
    display: none;
    width: auto;
  }

  .contact-text-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .start-menu-wrap {
    position: absolute;
    bottom: 101%;
    z-index: 100;
    display: none;
  }

  .clock-wrapper {
    display: none;
  }

  .clock {
    display: none;
  }

  .logo-center {
    position: relative;
    top: auto;
    z-index: 1;
    max-width: 20%;
  }

  .logo-center.text {
    position: relative;
    top: auto;
    max-width: 50%;
  }

  .pre-looader {
    display: none;
  }

  .looping-text-wrapper {
    display: none;
  }

  .logo-center-pfp {
    position: relative;
    top: auto;
    z-index: 1;
    max-width: 100%;
  }

  .logo-center-pfp.text {
    position: relative;
    top: auto;
    max-width: 50%;
  }

  .lowleftwrapper {
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .social-wrapper {
    display: none;
  }
}

#w-node-d3aa7111-d0ce-2b05-b4eb-b34224b895db-0c918185 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d3aa7111-d0ce-2b05-b4eb-b34224b895dc-0c918185 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d3aa7111-d0ce-2b05-b4eb-b34224b895dd-0c918185 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d3aa7111-d0ce-2b05-b4eb-b34224b895de-0c918185 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@font-face {
  font-family: 'Handjet[egrd,eshp,wght]';
  src: url('../images/') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pressstart2p';
  src: url('../fonts/PressStart2P.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}